{% extends "quem_foi_para_mar_core/base.html" %}
  {% block content %}
    {% for barco in barcos_no_mar_hoje %}
            <div>
              <p><b>Destino</b>: {{barco.destino}}</p>
              {% endfor %}
            </div>
            <div class="post">
                {% for barco in barcos_no_mar_hoje %}
            <ul>
                <li>Destino: {{barco.destino}}</li>
                <li>Data de partida: {{barco.data_partida}}</li>
                <li>Data de chegada prevista: {{barco.data_chegada_prevista}}</li>
                <li>Tripulantes: {{barco.tripulacao}}</li>
                <li>Embarção: {{barco.embarcacao_id}}</li>
                <li>Embarcação retornou ?: {{barco.embarcacao_retornou}}</li>
            </ul>
  {% endfor %}
  {% endblock %}
